.card {
    height: auto !important;
    width: 250px;

    &-reveal {
        overflow-y: hidden !important;

        &--links li {
            width: 100%;
            margin-bottom: 10px;

            a {
                display: block;
                color: inherit;
                text-decoration: inherit;
            }
        }
    }

    & .card-image img {
        height: 15rem;
    }
}

//Responsive cards
@media only screen and(max-width: 1500px) {
    .card {
        width: 220px;
    }
}
@media only screen and(max-width: 1250px) {
    .card {
        width: 200px;
    }
}
@media only screen and(max-width: 992px) {
    .card {
        width: 300px;
    }
}
@media only screen and(max-width: 725px) {
    .card {
        width: 250px;
    }
}
@media only screen and(max-width: 256px) {
    .card {
        width: 170px;
    }
}
