.input-field input {
    &:focus {
        border-bottom: 1px solid $color_primary !important;
        box-shadow: 0 1px 0 0 $color_primary !important;

        & + label {
            color: $color_primary !important;
        }
    }

    &.valid {
        border-bottom: 1px solid $color_primary !important;
        box-shadow: 0 1px 0 0 $color_primary !important;
    }

    &.invalid {
        border-bottom: 1px solid $color_secundary !important;
        box-shadow: 0 1px 0 0 $color_secundary !important;
    }
}
